doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  style.
    @media only screen and (max-width: 770px) {
      #carImg {
        width: 70vw;
      }
    }
    @media not screen and (max-width: 770px) {
      #carImg {
        width: 400px;
      }
    }
    .mybackground{
      background-image: linear-gradient(#0F2C66, #00D8FF);
    }
    #card{
      box-shadow: 2px 2px 3px black;
    }
    #footer {
      margin-bottom: 0;
      color: black;
    }
    .mycenter{
      margin: auto;
      text-align: center;
      padding: 100px;
    }
    .cleanlink:link{
      text-decoration: none;
      color: black;
    }
    .cleanlink:visited{
      text-decoration: none;
      color: black;
    }
    .cleanlink:hover{
      text-decoration: none;
      color: blue;
    }
    .ad{
      background-color: #181A30;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 2px 2px 3px black;
    }
    li{
      color: white;
    }
    #logo{
      background-color: white;
      width: 100px;
    }
    .carousel-inner img {
      width: 70%;
      height: 70%;
    }
    .h_extra{
      color: red;
      text-align: center;
      text-shadow: 2px 2px 3px black;
      font-size: 40px;
    }
    .titles{
      color: white;
    }
    .min_size{
      height: 600px;
    }

  body
    block content
